   [1m[48;5;15m[38;5;19m FSFE[38;5;27m*[38;5;4m*[38;5;76m* [0m[1m Free Software Foundation Europe[0m

This server is part of the FSFE Infrastructure.
{% if fellow_run %}

[1mThis host is run by Fellows. Please find further documentation at
https://wiki.fsfe.org/TechDocs/FellowRunServices[0m
{% endif %}

FQDN:             {{ansible_fqdn}}
Operating System: {{ansible_distribution}} {{ansible_distribution_release}} {{ansible_distribution_version}}
Vendor:           {{ansible_system_vendor}}

